$color-title:rgba(255, 255, 255, 1);
$color-wrapp:rgba(62, 58, 58, 1);
$color-basket: linear-gradient(rgba(97, 137, 103, 1),rgba(114, 164, 121, 1));
$color-line:linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));
$color-swiper:rgba(73, 69, 68, 1);